body {
    background: #F6F8FD;
    min-height: 75rem;
    padding-top: 4.5rem;
}

.hide {
    display: none;
}

/* .navbar-success {
    background: #00b7b5;
    background-image: linear-gradient(
        259.8deg,
        rgba(148, 209, 102, 0.8) 0%,
        rgba(148, 209, 102, 0) 57.63%
    );
}

.navbar-success .nav-link,
.navbar-success .navbar-brand,
.navbar-success .navbar-toggler-icon {
    color: #fff;
}

.navbar-success .navbar-brand {
    border-right: 1px solid #fff;
    padding-right: 20px;
} */

.toast-container {
    z-index: 1031;
}

h3 {
    margin-bottom: 15px;
}